.Text__Input {
  display: flex;
  flex-direction: column;
}

.Text__Input label {
  padding: 0 var(--space-xxs);
}

.Text__Input input {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  border-bottom: 1px solid gray;
  padding: var(--space-xs) var(--space-xs);
  transition: all 0.2s ease-in-out 0.1s;
}

.Text__Input input:focus {
  border-bottom: 1px solid;
  background-color: lightgrey;
}

.Text__Input input:read-only {
  color: gray;
  border: none;
  border-bottom: 1px solid gray;
}

.Text__Input .error {
  border-bottom: 1px solid var(--color-error);
}

.Text__Input .Field__Error__Msg {
  padding: var(--space-xs) var(--space-xs);
  color: var(--color-error);
  font-size: small;
}
