.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 4rem;
  max-width: var(--max-width);
  color: var(--color-white);
}

.Navbar__SignOut {
  cursor: pointer;
}
